# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "nuget" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
      time: "02:00"
      day: "wednesday"
    open-pull-requests-limit: 10
    ignore:
      # For AWS SDK, ignore all patch updates
      - dependency-name: "AWSSDK.*"
        update-types: ["version-update:semver-patch"]
  - package-ecosystem: "github-actions" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
      time: "02:00"
    open-pull-requests-limit: 10
