# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/en/code-security/dependabot/working-with-dependabot/dependabot-options-reference

version: 2
updates:
  - package-ecosystem: 'nuget'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '02:00'
    open-pull-requests-limit: 10
    groups:
      aws-sdk:
        patterns: ['AWSSDK.*']
      azure-sdk:
        patterns: ['Azure.*']
      microsoft:
        patterns: ['Microsoft.*']
      system:
        patterns: ['System.*']
      xunit:
        patterns: ['Xunit*']
    ignore:
      # Ignore patch updates for some packages
      - dependency-name: 'Microsoft.*'
        update-types: ['version-update:semver-patch']
      - dependency-name: 'System.*'
        update-types: ['version-update:semver-patch']
      - dependency-name: 'AWSSDK.*'
        update-types: ['version-update:semver-patch']

  - package-ecosystem: 'dotnet-sdk'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '02:00'
    ignore:
      # Ignore patch updates
      - dependency-name: '*'
        update-types: ['version-update:semver-patch']

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '02:00'

  - package-ecosystem: 'devcontainers'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '02:00'
